@import "tailwindcss";

@font-face {
  font-family: Satoshi Bold;
  src: url("/Satoshi/Satoshi-Bold.otf");
}

@font-face {
  font-family: Satoshi Medium;
  src: url("/Satoshi/Satoshi-Medium.otf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Satoshi Medium,
    "sans-serif";
}

h1 {
  font-family:
    Satoshi Bold,
    "sans-serif";
}
